<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="home"></ion-icon>
      <ion-label>日程</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visit">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>协访</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="dashboard"></ion-icon>
      <ion-label>工作台</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="report"></ion-icon>
      <ion-label>报表看板</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="mine"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>